# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment folders
venv/
.venv/
env/
ENV/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE project files
.vscode/
.idea/
